<!DOCTYPE html>
<html>
  <head>
    <title>Mytodo240531</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= link_to("ホーム",'/') %>
    <%= link_to("投稿一覧",'/posts/index') %>
    <%= link_to("新規投稿",'/posts/new') %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
